/* styling for the header */
header {
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
    border-bottom: solid;
}

/* title header styling */
h1 {
    margin-top: 25px;
    text-align: center;
}
/* styling for the body */
body {
    background-color: lavender;
    color: black;
}

/* styling for the background color */
.color {
    background-color: beige;
}

/* styling for the subheader */
h3 {
    text-align: center;
    display: block;
}

/* styling for the search column */
#search-column {
    margin-top: 25px;
}

/* styling for the current and forecasted weather column */
#display-column {
    margin-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
}

/* styling for the form container */
#form-container {
    border-style: solid;
    padding: 20px;
}

/* styling the form */
#search-form {
    border-style: solid;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}

/* styling of the recent searched cities */
#button-container {
    border-style: solid;
    padding: 10px;
}

/* styling for the button container */
#buttons {
    border-style: solid;
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
}

/* styling for the button */
.btn {
    margin: 10px;
}

/* styling for the unordered list */
ul {
    list-style-type: square;
}

/* styling for the current weather's icon */
#current-weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}

/* styling for the current weather information */
#current-weather-info {
    padding-top: 10px;
    background-color: darkgrey;
    border-style: solid;
}

/* styling for low UV index */
.green {
    color: lightgreen;
}

/* styling for moderate UV index */
.yellow {
    color: lightyellow;
}

/* styling for high UV index */
.red {
    color: orangered;
}
/* styling for the forecasted weather container */
#forecasted-weather {
    border-style: solid;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* styling for the forecasted weather for the 1st day */
#first-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkgrey;
}

/* styling for the forecasted weather for the second day */
#second-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkgrey;
}

/* styling for the forecasted weather for the third day */
#third-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkgrey;
}

/* styling for the forecasted weather for the fourth day */
#fourth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkgrey;
}

/* styling for the forecasted weather for the fifth day */
#fifth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkgray;
}


/* styling for the date on the first day */
#first-day-date {
    text-align: center;
}

/* styling for the forecasted weather icon */
#first-day-icon {
    display: flex;
    justify-content: center;
}

/* styling for the date on the second day */
#second-day-date {
    text-align: center;
}

/* styling for the forecasted weather icon */
#second-day-icon {
    display: flex;
    justify-content: center;
}

/* styling for the date on the third day */
#third-day-date {
    text-align: center;
}

/* styling for the forecasted weather icon */
#third-day-icon {
    display: flex;
    justify-content: center;
}

/* styling for the date on the fourth day */
#fourth-day-date {
    text-align: center;
}

/* styling for the forecasted weather icon */
#fourth-day-icon {
    display: flex;
    justify-content: center;
}

/* styling for the date on the fifth day */
#fifth-day-date {
    text-align: center;
}

/* styling for the forecasted weather icon */
#fifth-day-icon {
    display: flex;
    justify-content: center;
}

/* reducing the screen size for smaller screens */
@media screen and (max-width: 768) {

    /* this will change the icons for the current weather */
    #current-weather-icon {
        border-style: none;
        border-top: solid;
        border-left: solid;
        border-right: solid;
    }
}
